[alias]
        all = "!f() { ls | xargs -I{} git -C {} $1; }; f"
        refresh = "!git reset --hard && git clean -fdx && git checkout main && git pull origin main && git branch | grep -v main | xargs git branch -D && git gc"
        resync = "!git fetch origin && git rebase origin/main && git push -f --set-upstream origin \"$(git rev-parse --abbrev-ref HEAD)\""
