[alias]
        all = "!f() { ls | xargs -I{} git -C {} $1; }; f"
        refresh = "!git reset --hard && git clean -fdx && git checkout master && git pull origin master && git branch | grep -v master | xargs git branch -D && git gc"
        resync = "!git fetch origin && git rebase origin/master && git push -f --set-upstream origin \"$(git rev-parse --abbrev-ref HEAD)\""
