<?xml version="1.0" encoding="UTF-8"?>
<packages>
   <package id="authy-desktop" />
   <package id="bitwarden" />
   <package id="choco-cleaner" />
   <package id="choco-upgrade-all-at-startup" />
   <package id="docker-desktop" />
   <package id="firacodenf" />
   <package id="Firefox" />
   <package id="git" />
   <package id="GoogleChrome" />
   <package id="logitech-options" />
   <package id="microsoft-windows-terminal" />
   <package id="nodejs" />
   <package id="resharper-platform" />
   <package id="shutup10" />
   <package id="slack" />
   <!-- Change version if licensed -->
   <package id="visualstudio2019community" />
   <package id="vscode" />
   <package id="windowsspyblocker" />
</packages>
